[build]
  publish = "public"
  command = "echo 'Build complete'"

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/server/:splat"
  status = 200

[[redirects]]
  from = "/paylink/*"
  to = "/paylink.html"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
